{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
    <div class="center-colomn">
        <h1 align="center">{{title}}</h1><br>
        <form  method="POST" action="">{% csrf_token %}
            {{form|crispy}}<br>

            <input type="submit" value="Add Task">
        </form>

        {% for task in tasks %}

            {% ifequal request.user task.user %}
            <div class="item-row">
                <a class="btn btn-primary btn-sm" href="{% url 'update_task' task.id%}">Update</a>
                <a class="btn btn-danger btn-sm" href="{% url 'delete_task' task.id%}">Delete</a>
                {% if task.complete == True %}
                <strike>
                    {{task}}

                </strike>
                {% else %}
                {{task}}
                {% endif %}
            </div>
                {% endifequal  %}
        {% endfor %}

    </div>
{% else %}
    <h1>{{title}}</h1>
    <p>For use To Do App U should Login</p>
{% endif %}



{% endblock content %}